body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin: 0;
    padding: 0;
}

#conteiner {
    font-size: 70%;
    border: 3px black solid;
    width: 70%;
    margin: 0 auto;
    text-align: center;

}

#post {
    font-size: 15px;
}